/**
 *	This file was provided by a template and was modified to fit the needs of our website.
 *	The template can be found here:
 *	https://themewagon.com/themes/free-reponsive-bootstrap-4-html5-ecommerce-website-template-karma/  
*/

//    Font Family

$primary-font	: 'Roboto', sans-serif;
$title-font     : 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #d1650d;
$primary-color2	: #c05804;
$primary-color3	: #e16c0c;
$title-color	: #222222;
$text-color		: #777777;
$baseColor: #d1650d; 
$dip: #222222;
$pfont: #777777;
$white			: #fff;
$black			: #000;
$offwhite: #fcfcfc;

/*--------------------------- Fonts ----------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500');





