#header {
    width: 100%
}

.productbox { /*sample box*/
    width: 100px;
    height: 60px;
    border: 2px solid darkslategrey;
    margin: 5px;
}

.mask-custom {
    backdrop-filter: blur(8px);
    background-color: rgba(178,60,253,0.4);
  }

